<h3><%= @user.name%>さんを測定する</h3>

<i class="fa-solid fa-arrow-down-short-wide fa-3x text-brown my-2"></i>


<%= form_with model: @evaluation, class: "mx-3", local: false do |f| %>
  <div class="impression-body">
    <%= f.hidden_field :evaluatee_id, value: @id %> 
    <%= f.hidden_field :user_id, value: current_user.id %> 
    <ul class="text-brown my-4">
      <li>
        <%= f.radio_button :evaluation_point, '1' %>
        <%= f.label :evaluation_point, 
          current_user.sex ==0?'L1：あきらめないで。':'L1：修行編エピソード１的な。', value: 1 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '2' %>
        <%= f.label :evaluation_point, 
          current_user.sex ==0?'L2：まずは自分磨きね。':'L2：まずは自分磨きをしよう。', value: 2 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '3' %>
        <%= f.label :evaluation_point, 
          current_user.sex ==0?'L3：まだ自分が見えてない。':'L3：自分が見えてないと思う。', value: 3 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '4' %>
        <%= f.label :evaluation_point, 
          current_user.sex==0?'L4：少し実力不足。':'L4：イマイチかな。', value: 4 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '5', checked: true %>
        <%= f.label :evaluation_point, 
          current_user.sex ==0?'L5：まぁまぁ。':'L5：まぁまぁかな。', value: 5%>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '6' %>
        <%= f.label :evaluation_point, 
          current_user.sex==0?'L6：やるわね。':'L6：やるな。', value: 6 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '7' %>
        <%= f.label :evaluation_point, 
          current_user.sex ==0?'L7：タイプ！':'L7：ストライク！', value: 7 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '8' %>
        <%= f.label :evaluation_point, 
          current_user.sex==0?'L8：イケてる！！':'L8：文句なし！！', value: 8 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '9' %>
        <%= f.label :evaluation_point, 
          current_user.sex==0?'L9：ドキドキする！！！':'L9：ヤバすぎ！！！', value: 9 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '10' %>
        <%= f.label :evaluation_point, 
          current_user.sex==0?'L10：カッコいいが渋滞してる！':'L10：かわいいが渋滞してる！', value: 10 %>
        <%= render "bullet" %>
      </li>
    </ul>
  </div>
  <%= f.button :type => "submit", class: "button02 mb-5" do %>
    <i class="fa-solid fa-eye lead"></i>　<span class="lead"> 測 定！</span>
  <% end %>
<% end %>

