<% provide(:title, "- ユーザーログイン -") %>

<p class="lead"><%= yield(:title) %></p>

<% if @error_message %>
  <p class="text-danger"><%= @error_message %></p>
<% end %>


<%= form_with scope: :session, class: "mx-3 mt-4", local: true do |f| %>

<div class="form-group d-flex row mt-5">
  <div class="col-sm-12 col-md-3">
    <%= f.label :email do %>
      メールアドレス　<i class="fa-solid fa-envelope-circle-check lead text-success"></i>
    <% end %>
  </div>
  <div class="col-sm-5 col-md-9">
    <%= f.email_field :email, value: @email, autofocus: true, autocomplete: "email", class: "form-control", id: "session_email" %>
  </div>
</div>
<div class="form-group d-flex row">
  <div class="col-sm-12 col-md-3">
    <%= f.label :password do %>
      パスワード　<i class="fa-solid fa-unlock-keyhole lead text-success"></i>
    <% end %>
  </div>
  <div class="col-sm-5 col-md-9">
  <%= f.password_field :password, value: @password, autocomplete: "password", class: "form-control", id: "session_password" %>
  </div>
</div>
<div class="mt-2 mb-5">
  <%= f.button :type => "submit", class: "btn btn-success btn-lg rounded-pill p-4 text-white" do %>
    <i class="fa-solid fa-right-to-bracket fa-4x"></i>
  <% end %>
</div>
<% end %>

<p class="py-3">- 登録がまだな方はこちらから -</p>
<p class="lead">
  <%= link_to new_user_path, class: 'btn btn-warning btn-lg rounded-pill text-white font-weight-bold' do %>
    <i class="fa-solid fa-heart"></i>　さっそくはじめる
  <% end %>
</p>


