<% provide(:title, "ユーザーログイン") %>

<p class="lead"><%= yield(:title) %></p>

<%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group d-flex row mt-5">
    <div class="col-sm-12 col-md-3">
      <%= f.label :email do %>
        メールアドレス　<i class="fa-solid fa-envelope-circle-check lead text-success"></i>
      <% end %>
    </div>
    <div class="col-sm-5 col-md-9 field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  </div>
  <div class="form-group d-flex row">
    <div class="col-sm-12 col-md-3">
      <%= f.label :password do %>
        パスワード　<i class="fa-solid fa-unlock-keyhole lead text-success"></i>
      <% end %>
    </div>
    <div class="col-sm-5 col-md-9 field">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="mt-2 mb-5">
    <%= f.button :type => "submit", class: "btn btn-success btn-lg rounded-pill p-4 text-white" do %>
      <i class="fa-solid fa-right-to-bracket fa-4x"></i>
    <% end %>
  </div>
<% end %>

<%= render "users/shared/links" %>
