<div class="card-deck justify-content-center">

  <div class="card-prof border py-5 px-3 mt-4">
    <p>
      <i class="fa-solid fa-chart-simple fa-3x text-deepred"></i>
    </p>
    <h3 class="text-deepred py-3">- <%= @user.name %>さんの印象 -</h3>
    <p class="lead font-weight-bold">Total</p>
    <div class="display-3 font-weight-bold text-deepred">
      <%= impression_total %>
    </div><small>/100</small>
    <p class="text-danger lead font-weight-bold mt-2"><%= impression_comment(@user.sex) %></p>
    <p class="mt-2 lead text-secondary">（<%= @evaluations.count %>人に評価されました！）</p>
  </div>

  <div class="card-prof border py-5 px-3 mt-4">
    <p>
      <i class="fa-solid fa-user-group fa-3x text-info"></i>
    </p>
    <h3 class="text-info pt-3 pb-5">- 世代別支持率 -</h3>
    <% for num in 0..5 do %>
      <p class="lead text-info text-left">
        <span class="font-weight-bold"><%= num + 1 %>0代:</span>　<%= impression_graph(num) %>（<%= impression_each_generation(num) %>）
      </p>
    <% end %>
  </div>

  <div class="card-prof border py-5 px-3 mt-4">
    <p>
      <i class="fa-solid fa-venus-mars fa-3x text-orange"></i>
    </p>
    <h3 class="text-orange py-3">- 性別別支持率 -</h3>
    <% for num in 0..1 do %>
      <i class="fa-solid fa-2x text-orange my-3
        <% if num==0 %>
         fa-venus
        <% else %>
         fa-mars
        <% end %>">
      </i>
      <p class="lead text-orange text-left">
        <span class="font-weight-bold"><%= num==0?'女':'男' %>性:</span>　<%= impression_graph_gender(num) %>（<%= impression_each_gender(num) %>）
        <br />
        <small class="text-secondary ml-4 pl-4">
          (<%= num==0?'女':'男' %>性<%= evaluation_count(num) %>人に評価されました)
        </small>
      </p>
    <% end %>
  </div>
</div>
<p class="text-center lead mt-4">
  <%= link_to evaluations_user_path(current_user), class: "button02 font-weight-bold" do %>
    <i class="fa-solid fa-face-smile"></i> 自分を評価した人を見る<br />
  <% end %><br />
</p>
