<% if @user.sub_images.attached? %>
  <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
    <div class="carousel-inner">
      <% if @user.sub_images[1] %>
        <% @user.sub_images.first(1).each do |attachment| %>
          <div class="carousel-item active">
            <%= image_tag attachment.variant(resize: "300x400"), class: 'rounded border mx-2 mb-3' %>
            <% if current_user.id == @user.id %>
              <p class="small"><%= link_to "▲画像削除", purge_attachment_path(attachment), class: "btn-light btn-sm rounded-pill", method: :delete,  data: { confirm: "「画像を削除します。よろしいですか？"} %></p>
            <% end %>
          </div>
        <% end %>
        <% @user.sub_images.drop(1).each do |attachment| %>
          <div class="carousel-item">
            <%= image_tag attachment.variant(resize: "300x400"), class: 'rounded border mx-2 mb-3' %>
            <% if current_user.id == @user.id %>
              <p class="small"><%= link_to "▲画像削除", purge_attachment_path(attachment), class: "btn-light btn-sm rounded-pill", method: :delete,  data: { confirm: "「画像を削除します。よろしいですか？"} %></p>
            <% end %>
          </div>
        <% end %>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      <% else %>
        <% @user.sub_images.first(1).each do |attachment| %>
          <div class="carousel-item active">
            <%= image_tag attachment.variant(resize: "300x400"), class: 'rounded border mx-2 mb-3' %>
            <% if current_user.id == @user.id %>
              <p class="small"><%= link_to "▲画像削除", purge_attachment_path(attachment), class: "btn-light btn-sm rounded-pill", method: :delete,  data: { confirm: "「画像を削除します。よろしいですか？"} %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>






