<% provide(:title, "#{@user.name}さんプロフィール") %>

<div class="d-flex justify-content-center">
  <div class="col-sm-5">
    <div class="card-prof mb-5">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class: 'card-prof-img', alt: 'Card image cap' %>
      <% else %>
        <%if @user.id == current_user.id %>
          <%=image_tag mypage_demo_image, class: 'card-prof-img',alt: 'Card image cap' %>
        <% else %>
          <%=image_tag user_demo_image, class: 'card-prof-img',alt: 'Card image cap' %>
        <% end %>
      <% end %>
      <p class="lead pt-3"><%= yield(:title) %></p>
      <div class="card-prof-content text-wine">
        <div class="text-divider font-weight-bold text-dark pb-4">基本情報</div>
        <p><span class="small text-dark"><%= User.human_attribute_name(:hobby) %>：　</span><%= @user.hobby %></p>
        <p><span class="small text-dark"><%= User.human_attribute_name(:character) %>：　</span><%= @user.character %></p>
        <p><span class="small text-dark"><%= User.human_attribute_name(:sex) %>：　</span><%= set_sex(@user) %></p>
        <p><span class="small text-dark"><%= User.human_attribute_name(:generation) %>：　</span><%= set_generation(@user) %></p>
      </div>
    </div>
  </div>
</div>
<%# サブ画像ブロック %>
<%= render "sub_pic" %>
<%# 印象ブロック %>
<%= render "impression" %>
<p class="lead font-weight-bold mt-4">
  <i class="fa-solid fa-arrow-rotate-left text-info"></i><br />
  <%= link_to "前へ戻る", :back, class: "text-info" %>
</p>
