<% provide(:title, "#{@user.name}さんのページ") %>
<div class="d-flex justify-content-center">
  <div class="col-sm-5">
    <div class="card bg-success mb-3">
    <p class="lead"><%= yield(:title) %></p>
    <% if @user.image.attached? %>
      <%= image_tag @user.image, class: 'mt-3', alt: 'Card image cap' %>
    <% else %>
      <%if @user.id == current_user.id %>
        <%=image_tag mypage_demo_image, class: 'mt-3', alt: 'Card image cap' %>
      <% else %>
        <%=image_tag user_demo_image, class: 'mt-3', alt: 'Card image cap' %>
      <% end %>
    <% end %>
      <div class="card-body">
        <p><span class="small text-white"><%= User.human_attribute_name(:hobby) %>：</span><%= @user.hobby %></p>
        <p><span class="small text-white"><%= User.human_attribute_name(:character) %>：</span><%= @user.character %></p>
        <p><span class="small text-white"><%= User.human_attribute_name(:sex) %>：</span><%= set_sex(@user) %></p>
        <p><span class="small text-white"><%= User.human_attribute_name(:generation) %>：</span><%= set_generation(@user) %></p>
      </div>
    </div>
  </div>
</div>
<%# サブ画像ブロック %>
<%= render "sub_pic" %>
<%# 印象ブロック %>
<%= render "impression" %>
