<%# if @evaluations.count == 0 %>
    <p class="lead text-info mt-5 pt-5">まだだれからも評価がありません。</p>
    <p class="px-4">こちらからどんどん評価していくと相手から評価されやすくまたポイントも貯まります！</p>
<%# else %>
    <table class="table table-hover bg-white shadow-sm my-3">
        <thead class="thead-default bg-light">
            <tr class="text-center">
                <th></th>
                <th>評価した人</th>
                <th>評価点</th>
                <th>評価した人の性格</th>
                <th>評価した人の趣味</th>
            </tr>
        </thead>
        <tbody>
        <% @evaluations.each do |eval| %>
            <tr>
            <td>
                <% if eval.user.image.attached? %>
                    <%= image_tag user.image, width:30   %>
                <% else %>
                    <%=image_tag "default_profile_img.png", width:30 %>
                <% end %>
            </td>
                <td><%= link_to "#{eval.user.name}", user_path(eval.user_id), class: 'text-info' %></td>
                <td><%= eval.evaluation_point %>pts</td>
                <td><%= eval.user.character %></td>
                <td><%= eval.user.hobby %></td>
            </tr>
        <% end %>    
        </tbody>
    </table>    
<%# end %>
