<% provide(:title, "スカウター一覧") %>

<% if current_user.point < 3 %>
  <p class="mb-5">
    まずは3人を評価して<b class="text-wine">3ポイントゲット</b>しよう！<br /><b class="text-wine">３ポイントたまったら</b>興味のある人の評価をのぞいてみよう！
  </p>
<% else %>
  <p class="mb-5"><b class="text-info">３ポイント消化</b>で気になる相手の評価がのぞける！</p>
<% end %>
<div class="card-group-x justify-content-center">
  <% @users.each do |user| %>
    <div class="card-x">
      <div class="card__imgframe-x">
        <%= link_to user_path(user) do %>
          <% if user.image.attached? %>
            <%= image_tag user.image, class:'img-list border border-dark' %>
          <% else %>
            <%= image_tag "default_profile_img.png", class:'img-list border border-dark' %>
          <% end %>
        <% end %>
      </div>
      <div class="card__textbox-x">
        <p>
          <%= link_to "プロフィール", user_path(user), class: "btn btn-border small" %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= render "shared/paginate" %>
