<% provide(:title, "#{@user.name}さんのプロフィール") %>

<div class="d-flex justify-content-center">
  <div class="col-sm-5">
    <div class="card bg-info border border-dark mb-3">
    <p class="lead text-white pt-3 pm-2"><%= yield(:title) %></p>
    <% if @user.image.attached? %>
      <%= image_tag @user.image.variant(resize: "400x400^", gravity: "center", crop: "400x400+0+0"), class: 'mx-3 border border-dark', alt: 'Card image cap' %>
    <% else %>
      <%if @user.id == current_user.id %>
        <%=image_tag mypage_demo_image, class: 'mx-3 border border-dark', alt: 'Card image cap' %>
      <% else %>
        <%=image_tag user_demo_image, class: 'mx-3 border border-dark', alt: 'Card image cap' %>
      <% end %>
    <% end %>
      <div class="card-body text-white">
        <p><span class="small text-white"><%= User.human_attribute_name(:hobby) %>：</span><%= @user.hobby %></p>
        <p><span class="small text-white"><%= User.human_attribute_name(:character) %>：</span><%= @user.character %></p>
        <%# 5ポイントブロック %>
        <% if current_user.id == @user.id || current_user.admin? %><p><span class="small text-white"><%= User.human_attribute_name(:email) %>：</span><%= @user.email %></p>
          <p><span class="small text-white"><%= User.human_attribute_name(:sex) %>：</span><%= set_sex(@user) %></p>
          <p><span class="small text-white"><%= User.human_attribute_name(:generation) %>：</span><%= set_generation(@user) %></p>
          <p class="font-weight-bold"><%= User.human_attribute_name(:point) %>：<span class="display-3"><%= @user.point %></span> pts</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# サブ画像ブロック %>
<%= render "sub_pic" %>
<%# 測定ブロック %>
<% if @user.id != current_user.id %>
  <div class='mx-auto my-3 arrow_box'>
    <span class="small">1人測定するたびに「1ポイント獲得」<br />（5ポイント消化で1人の詳細評価をのぞけます！）</span>
  </div>
  <p>
  <%= link_to '測定する！', new_evaluation_path(user_id: current_user.id, evaluatee_id: @user.id), class: "btn btn-border" %> 
  </p>
<% end %>

<%# 5ポイント以上でプロフチェック %>
<% if current_user.point >= 5 && @user.id != current_user.id %>
  <div class="mt-4">
    <%= link_to user_details_path(user_id: @user.id), method: :post, class: "btn btn-warning btn-lg rounded-pill text-white mb-45" do %><i class="fa-solid fa-address-card lead"></i> 評価をのぞく！<% end %>
  </div>
<% end %>

<%# 印象ブロック %>
<% if current_user.id == @user.id %>
  <%= render "impression" %>
<% end %>

<%# プロフの編集・削除 %>
<% if current_user.id == @user.id || current_user.admin? %>
  <div class="text-center">
    <%= link_to edit_user_path, class: "btn btn-info rounded-pill text-white mb-3" do %>
      <i class="fa-solid fa-pen-to-square"></i> プロフィール編集<br />
    <% end %><br />
    <%= link_to "退会する", @user, method: :delete, data: { confirm: "「#{@user.name}」さん、本当に退会しますか？"}, class: "small text-secondary" %>
  </div>
<% end %>
