<% provide(:title, "#{@user.name}さん") %>


<%# サブ画像ブロック %>
<%= render "sub_pic" %>

<%# 測定ブロック %>
<% if @user.id != current_user.id %>
  <%= link_to new_evaluation_path(user_id: current_user.id, evaluatee_id: @user.id), class: "button02 mt-4" do %>
    <i class="fa-solid fa-eye lead"></i> 測定！<small>(1ポイント獲得)</small>
  <% end %>
<% end %>

<%# 5ポイント以上でプロフチェック %>
<%# if current_user.point >= 5 && @user.id != current_user.id %>
  <div class="mt-4">
    <%= link_to details_user_path(user_id: @user.id), method: :post, class: "button04" do %><i class="fa-solid fa-address-card lead"></i> 評価を見る！<small>(5ポイント消化)</small><% end %>
  </div>
<%# end %>

<%# 印象ブロック %>
<% if current_user.id == @user.id %>
  <%= render "impression" %>
<% end %>

<%# プロフの削除 %>
<% if current_user.id == @user.id || current_user.admin? %>
  <div class="text-center mt-4">
    <%= link_to "退会する", @user, method: :delete, data: { confirm: "「#{@user.name}」さん、本当に退会しますか？"}, class: "small text-secondary" %>
  </div>
<% end %>
