<% provide(:title, "#{@user.name}さんのページ") %>

<p class="lead"><%= yield(:title) %></p>
<div class="d-flex justify-content-center">
  <div class="col-sm-5">
    <div class="card mb-3">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class: 'card-img-top', alt: 'Card image cap' %>
      <% else %>
        <%if @user.id == current_user.id %>
          <%=image_tag mypage_demo_image, class: 'card-img-top', alt: 'Card image cap' %>
        <% else %>
          <%=image_tag user_demo_image, class: 'card-img-top', alt: 'Card image cap' %>
        <% end %>
      <% end %>
      <div class="card-body">
        <p class="card-text"><span class="small text-muted"><%= User.human_attribute_name(:hobby) %>：</span><%= @user.hobby %></p>
        <p class="card-text"><span class="small text-muted"><%= User.human_attribute_name(:character) %>：</span><%= @user.character %></p>
        <p class="card-text"><span class="small text-muted"><%= User.human_attribute_name(:email) %>：</span><%= @user.email %></p>
        <p class="card-text"><span class="small text-muted"><%= User.human_attribute_name(:sex) %>：</span><%= set_sex(@user) %></p>
        <p class="card-text"><span class="small text-muted"><%= User.human_attribute_name(:generation) %>：</span><%= set_generation(@user) %></p>
        <p class="card-text text-info font-weight-bold"><%= User.human_attribute_name(:point) %>：</span><span class="display-3"><%= @user.point %></span> pts</p>
      </div>
    </div>
  </div>
</div>
<%# サブ画像ブロック %>
<% if @user.sub_image_1.attached? %>
  <p>
    <i class="fa-solid fa-image-portrait fa-3x  mt-5 text-secondary"></i>
  </p>
  <h3 class="my-3 py-3">- その他画像 -</h3>
  <%= image_tag @user.sub_image_1.variant(resize: "300x300"), class: 'mb-3 rounded border' %>
<% end %>
<% if @user.sub_image_2.attached? %>
  <%= image_tag @user.sub_image_2.variant(resize: "300x300"), class: 'mb-3 rounded border' %>
<% end %>

<%# 印象ブロック %>
<%= render "impression" %>

<%# プロフの編集・削除 %>
<div class="text-center">
  <%= link_to edit_admin_user_path, class: "btn btn-info rounded-pill text-white mb-3" do %>
    <i class="fa-solid fa-pen-to-square"></i> プロフィール編集<br />
  <% end %><br />
  <%= link_to "退会させる", admin_user_path(@user), method: :delete, data: { confirm: "「#{@user.name}」さんを本当に退会させますか？"}, class: "small text-secondary" %>
</div>

