<% provide(:title, "#{@user.name}さんのページ") %>

<div class="d-flex justify-content-center">
  <div class="col-sm-5">
    <div class="card bg-info border border-dark mb-3">
    <p class="lead text-white pt-3 pm-2"><%= yield(:title) %></p>
    <% if @user.image.attached? %>
      <%= image_tag @user.image.variant(resize: "400x400^", gravity: "center", crop: "400x400+0+0"), class: 'mx-3 border border-dark', alt: 'Card image cap' %>
    <% else %>
      <%if @user.id == current_user.id %>
        <%=image_tag mypage_demo_image, width: '330', class: 'mx-3 border border-dark', alt: 'Card image cap' %>
      <% else %>
        <%=image_tag user_demo_image, width: '330', class: 'mx-3 border border-dark', alt: 'Card image cap' %>
      <% end %>
    <% end %>
      <div class="card-body text-white">
        <p><span class="small text-white"><%= User.human_attribute_name(:hobby) %>：</span><%= @user.hobby %></p>
        <p><span class="small text-white"><%= User.human_attribute_name(:character) %>：</span><%= @user.character %></p>
        <%# 5ポイントブロック %>
        <% if current_user.id == @user.id || current_user.admin? %><p><span class="small text-white"><%= User.human_attribute_name(:email) %>：</span><%= @user.email %></p>
          <p><span class="small text-white"><%= User.human_attribute_name(:sex) %>：</span><%= set_sex(@user) %></p>
          <p><span class="small text-white"><%= User.human_attribute_name(:generation) %>：</span><%= set_generation(@user) %></p>
          <p class="font-weight-bold"><%= User.human_attribute_name(:point) %>：<span class="display-3"><%= @user.point %></span> pts</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# サブ画像ブロック %>
<%= render "users/sub_pic" %>

<%# 印象ブロック %>
<%= render "users/impression" %>

<%# プロフの編集・削除 %>
<div class="text-center">
  <%= link_to edit_admin_user_path, class: "btn btn-info rounded-pill text-white mb-3" do %>
    <i class="fa-solid fa-pen-to-square"></i> プロフィール編集<br />
  <% end %><br />
  <%= link_to "退会させる", admin_user_path(@user), method: :delete, data: { confirm: "「#{@user.name}」さんを本当に退会させますか？"}, class: "small text-secondary" %>
</div>

