  <%= render "shared/header" %>
  <body class="body-color">
    <%= render "shared/nav" %>
    <div class="container text-center mb-4">
       <div class="my-3">
        <small class="text-chocolate">
          <% if current_user %>
            <%= image_tag "https://cdn.with.is/assets/shared/icons/point-13022b529ea3220c018a44897946eab5913d018375c5f482c11452b24a92b2bc.svg", width: "25" %><br /><span class="font-weight-bold lead"><%= current_user.point %></span> ポイント所持
          <% end %> 
        </small>
      </div>
      <% if !current_user.admin? %>
        <p class="mb-3">
          まずは3人を評価して<b class="text-wine">3ポイントゲット</b>しよう！<br />３ポイントたまったら興味のある人の評価をのぞいてみよう！
        </p>
      <% end %>
      <% if flash.notice %>
        <div class="alert alert-light"><%= flash.notice %></div>
      <% end %>

      <%= yield %>

    </div>
  </body>
  <%= render "shared/footer" %>
</html>
